<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXDUIViewAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFB32FD21C50B9AE007F10F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB32FEB1C50B9AE007F10F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB32FF61C50B9AE007F10F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
