<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXDAnimateButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF50B7C81D8647FA00789716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF50B7DC1D8647FA00789716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF50B7E71D8647FA00789716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
