<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXDSlideMenuSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFE1C72B1C0A906800AB6D92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE1C73F1C0A906900AB6D92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE1C74A1C0A906900AB6D92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
